body{
  background-color: lightblue;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

img{
  width: 400px;
  padding: 20px;
}

video{
  padding: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50
}
table{
  margin: auto;
  border: solid black 1px;
}
