body{
  background-color:#ccffff;
  font-size:20px;
  text-align: center;
}

  h1{
    background-color:;
    font-size:50px;
    color:#333333;
    text-align: center;
  }
  main{
    display: grid;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  nav{
    background-color: powderblue;
    width: 150px
  }
  img{
    margin: auto;
    border-radius: 100px;
    border: 2px solid black;
    width: 500px
  }




  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
  }
  li{
    float: left;
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50
  }
