main{
  background-color:
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h4{
  text-align: center;
  font-size: 30px;
}
h5{
  font-size: 20px;
}
section p{
  padding-left: 15px;
  padding-right: 15px;
}
h1{
  padding-left: 15px;
}

}
.active{
  background-color: green;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:4px;
}
.span2{
  grid-column: span 2;
}
.span3{
  grid-column: span 3;
}
.span9{
  grid-column: span 9;
}
.span11{
  grid-column: span 11;
}
.grid-2{
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.grid-4{
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.grid-6{
  display: grid;
  grid-template-columns: repeat(6,1fr)
}
.grid-7{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: 4px;
}
.grid-11{
  display: grid;
  grid-template-columns: repeat(11,1fr);
  grid-gap: 4px;
}
.gridVarer{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.grid-11 img{
  width: 90%;
  padding-bottom: 15px;
}
.grid-11 section{
  grid-template-rows: 1fr 4fr;
  grid-gap: none;
  border-radius: 15px;
}

}
.dekkende{
  width: 100%;
}
.responsive{
  width: 100%;
  height: auto;
}
.sentrertTekst{
  text-align: center;
}
.footer{
  background-color: lightgrey;
  color: black;
  margin-left:auto;
  margin-right:auto;
  width: 60%;
  border-radius: 15px;
}
.footer p{
  text-align: center;
  padding: 5px;
}
.footer:hover{
  background-color: grey;
  transition: .6s
}
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  .sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: black;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: left;
  }

  .sidenav a:hover, .dropdown-btn:hover {
    color: white;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn{
    left: 125px;
  }
  .dropdown-container {
  display: none;
  background-color: black;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.HeaderEV{
  display: grid;
  grid-template-columns: 30% 10% 60%;
  font-size: 30px;
  margin: auto;
}
.EnkelVare{
  margin-left: 35%;
}
#Logo{
  padding-top: 20px;
  padding-left: 20px;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.content{
  font-size: 15px;
}
.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  margin-bottom: 19px;
}
.radiusmat{
  border-radius: 15px;
}
.Kategoriliste{
  text-decoration: none;
  list-style-type: none;
  
}
