  main{
    background-color:
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  ul li{
    float: left;
  }
  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  h4{
    text-align: center;
    font-size: 30px;
  }
  h5{
    font-size: 20px;
  }
  section p{
    padding-left: 15px;
    padding-right: 15px;
  }
  h1{
    padding-left: 15px;
  }
  .active{
    background-color: green;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:4px;
  }
  .span2{
    grid-column: span 2;
  }
  .span3{
    grid-column: span 3;
  }
  .span4{
    grid-column: span 4;
  }
  .span9{
    grid-column: span 9;
  }
  .span11{
    grid-column: span 11;
  }
  .grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
  .grid-3{
    display: grid;
    grid-template-columns: repeat(3,1fr)
  }
  .grid-4{
    display: grid;
    grid-template-columns: repeat(4,1fr)
  }
  .grid-5{
    display: grid;
    grid-template-columns: repeat(5,1fr)
  }
  .grid-6{
    display: grid;
    grid-template-columns: repeat(6,1fr)
  }
  .grid-7{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 4px;
  }
  .grid-8{
    display: grid;
    grid-template-columns: repeat(8,1fr)
  }
  .grid-11{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-gap: 4px;
  }
  .gridVarer{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .grid-11 img{
    width: 90%;
  }
  .grid-11 section{
    grid-template-rows: 1fr 4fr;
    grid-gap: none;
    border-radius: 15px;
  }

  }
  .dekkende{
    width: 100%;
  }
  .responsive{
    width: 100%;
    height: auto;
  }
  .sentrertTekst{
    text-align: center;
  }
  .footertekst{
    background-color: lightgrey;
    border-radius: 15px;
    padding: 5px;

  }
  .footer{
    display: grid;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns: 1fr;
    font-size: 22px;
    margin: 20px;
  }
  .QRDiv{
    align-content: center;
  }
  .footer p{
    text-align: center;
    padding: 5px;
  }
  .footertekst:hover{
    background-color: grey;
    transition: .6s;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
    .sidenav a, .dropdown-btn {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.5s;
      background-color: black;
      border: none;
      width: 100%;
      cursor: pointer;
      outline: none;
      text-align: left;
    }

    .sidenav a:hover, .dropdown-btn:hover {
      color: white;
    }
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      font-size: 36px;
      margin-left: 50px;
      right: 25px;
    }
    .closebtn{
      left: 125px;
    }
    .dropdown-container {
    display: none;
    background-color: black;
    padding-left: 8px;
  }
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
    #hoved {
      transition: margin-left .5s;
      padding: 20px;
    }
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  .EnkelVare{
    margin-left: 35%;
  }
  #Logo{
    padding-top: 20px;
    padding-left: 20px;
  }
    footer{
      width: 100%;
    }
  }
  .container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  .container {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }

  .container .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    font-size: 14px;
    font-weight: bold;
  }
  .Bilde2{
    margin: 0 auto;
    display: block;
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 500px;
  }
  .Bilde2OS{
    width: 100%;
    max-height: none;
  }
  .Kategoriliste{
    margin-left: 0px;

  }
  .Kategoriliste .MatKnapp{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: 1px solid green;
    display: inline-block;
    font-size: 16px;
    cursor: cursor;
    width: 150px;
    display: block;
    margin: 10px;
    text-decoration: none;
  }
  .Kategoriliste .MatKnapp:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  .MatKnapp:hover, .Handleknapp:hover, .block:hover{
    background-color: #3e8e41;
  }
  .vare{
    text-align: center;
    margin-bottom: 10px;
  }
  .VTmargin{
    margin-left: 35px;
    margin-right: 35px;
  }
  .OSOS{
    margin-bottom: 0px;
  }
  .MFB2{
    width: 100%;
  }
  .vare a:link, .vare a:visited{
    text-decoration: none;
    color: black;
  }
  .matslide{
    grid-gap: 10px;
  }
  .kokk{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
  .kokk p{
    font-size: 20px;
  }
  .Hellstrom{
    height: auto;
    width: 100%;
  }
  .margin0{
    margin: 0px;
  }
  .flm{
    grid-gap: 40px;
    margin-right: 200px;
    margin-left: 200px;
  }
  /*CSS til slideshow*/
  .mySlides, .mySlides2, .mySlides3{
    display: none
  }
  img {vertical-align: middle;}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next{
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: white;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: white;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot, .dot2, .dot3{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active2, .dot:hover, .dot2:hover, .dot3:hover  {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .mat a:link, .mat a:visited{
    text-decoration: none;
    color: black;
  }
  .mat{
    padding: 10px;
  }
  .Matforslag{
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
  }
  .tykk{
    font-weight: bold;
  }
  .liten{
    color: darkgrey;
    font-size: 10px;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .block {
    display: block;
    margin: auto;
    width: 50%;
    border: none;
    background-color: #4CAF50;
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 100px;
  }
  .containerOS {
    position: relative;
  }
  .enkelVareOS{
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
  }
  .enkelVarePris{
    color: #4CAF50;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .enkelVareProd, .enkelVareStorrelse{
    color: grey;
    font-size: 15px;
    margin: 0px;
  }

  .enkelVareKnapp{
    display: grid;
    grid-template-columns:1fr 4fr;
  }
  .Handleknapp{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    border: 1px solid green;
    font-size: 16px;
    width: 250px;
    display: block;
    margin: 10px;
    text-decoration: none;
  }

  /* Bottom right text */
  .text-blockOS {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 300px;
    text-align: center;
  }
  /* Dropdown Button */
  .dropbtnMat,.dropbtnMat2, .dropbtnMat3, .dropbtnMat4, .dropbtnMat5, .dropbtnMat6, .dropbtnMat7, .dropbtnMat8 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 5px;
  }

  .QR{
  max-width: 150px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  }
  /* Dropdown button on hover & focus */
  .dropbtnMat:hover, .dropbtnMat:focus,.dropbtnMat2:hover, .dropbtnMat2:focus,.dropbtnMat3:hover, .dropbtnMat3:focus,.dropbtnMat4:hover, .dropbtnMat4:focus,.dropbtnMat5:hover, .dropbtnMat5:focus,.dropbtnMat6:hover, .dropbtnMat6:focus,.dropbtnMat7:hover, .dropbtnMat7:focus,.dropbtnMat8:hover, .dropbtnMat8:focus {
    background-color: #3e8e41;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdownMat,.dropdownMat2,.dropdownMat3,.dropdownMat4,.dropdownMat5,.dropdownMat6,.dropdownMat7,.dropdownMat8  {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-contentMat,.dropdown-contentMat2,.dropdown-contentMat3,.dropdown-contentMat4,.dropdown-contentMat5,.dropdown-contentMat6,.dropdown-contentMat7,.dropdown-contentMat8 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    max-width: 200px;
    margin-left: 100px;
  }

  /* Links inside the dropdown */
  .dropdown-contentMat a,.dropdown-contentMat2 a,.dropdown-contentMat3 a,.dropdown-contentMat4 a,.dropdown-contentMat5 a,.dropdown-contentMat6 a,.dropdown-contentMat7 a,.dropdown-contentMat8 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-contentMat a:hover,.dropdown-contentMat2 a:hover, .dropdown-contentMat3 a:hover, .dropdown-contentMat4 a:hover, .dropdown-contentMat5 a:hover, .dropdown-contentMat6 a:hover, .dropdown-contentMat7 a:hover, .dropdown-contentMat8 a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .showMat {display:block;}


.varerGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}
@media (max-width: 900epx) {
  #IndexMatforslag{
    grid-template-columns: 1fr;
    margin: 25px;
  }
  #Logo{
    padding: 0px;
    width: 100%;
    align-content: center;
  }
  .content{
    bottom: 20px;
    text-align: center;
  }
  .varerGrid{
    grid-template-columns: repeat(2,1fr)
  }
  .Bilde2{
    max-width: 300px;
    max-height: 300px;
  }
  .kokk{
    grid-template-columns: 1fr;
    margin-left: 40px;
    margin-right: 40px;
  }
  .Matforslag{
    margin-left: 0px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
