main{
  background-color:
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h4{
  text-align: center;
  font-size: 30px;
}
h5{
  font-size: 20px;
}
section p{
  padding-left: 15px;
  padding-right: 15px;
}
h1{
  padding-left: 15px;
}

}
.active{
  background-color: green;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:4px;
}
.span2{
  grid-column: span 2;
}
.span3{
  grid-column: span 3;
}
.span4{
  grid-column: span 4;
}
.span9{
  grid-column: span 9;
}
.span11{
  grid-column: span 11;
}
.grid-2{
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.grid-4{
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.grid-5{
  display: grid;
  grid-template-columns: repeat(5,1fr)
}
.grid-6{
  display: grid;
  grid-template-columns: repeat(6,1fr)
}
.grid-7{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-gap: 4px;
}
.grid-8{
  display: grid;
  grid-template-columns: repeat(8,1fr)
}
.grid-11{
  display: grid;
  grid-template-columns: repeat(11,1fr);
  grid-gap: 4px;
}
.gridVarer{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.grid-11 img{
  width: 90%;
  padding-bottom: 15px;
}
.grid-11 section{
  grid-template-rows: 1fr 4fr;
  grid-gap: none;
  border-radius: 15px;
}

}
.dekkende{
  width: 100%;
}
.responsive{
  width: 100%;
  height: auto;
}
.sentrertTekst{
  text-align: center;
}
.footer{
  background-color: lightgrey;
  color: black;
  margin-left:auto;
  margin-right:auto;
  width: 60%;
  border-radius: 15px;
}
.footer p{
  text-align: center;
  padding: 5px;
}
.footer:hover{
  background-color: grey;
  transition: .6s
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

  .sidenav a, .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    background-color: black;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: left;
  }

  .sidenav a:hover, .dropdown-btn:hover {
    color: white;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 50px;
    right: 25px;
  }
  .closebtn{
    left: 125px;
  }
  .dropdown-container {
  display: none;
  background-color: black;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
  #hoved {
    transition: margin-left .5s;
    padding: 20px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.EnkelVare{
  margin-left: 35%;
}
#Logo{
  padding-top: 20px;
  padding-left: 20px;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.content{
  font-size: 15px;
}
.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  margin-bottom: 19px;
}
.radiusmat{
  border-radius: 15px;
}
.Bilde2{
  margin: 0 auto;
  display: block;
  width: auto;
  height: auto;
  max-height: 500px;
}
.Kategoriliste{
  margin-left: 0px;

}
.Kategoriliste .MatKnapp{
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: 1px solid green;
  display: inline-block;
  font-size: 16px;
  cursor: cursor;
  width: 150px;
  display: block;
  margin: 10px;
  text-decoration: none;
}
.Kategoriliste .MatKnapp:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.MatKnapp:hover {
  background-color: #3e8e41;
}
.vare a:link{
  text-decoration: none;
  color: black;
}
.vare a:visited{
  color: black;
}
.vareInfo{

}
.matslide{
  grid-gap: 10px;
}
.kokk{
  margin-left: 200px;
  margin-right: 200px;
}
.Hellstrom{
  height: auto;
  width: 100%;
}
.margin0{
  margin: 0px;
}
.flm{
  grid-gap: 40px;
  margin-right: 200px;
  margin-left: 200px;
}
/*CSS til slideshow*/
.mySlides, .mySlides2, .mySlides3{
  display: none
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot, .dot2, .dot3{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot2:hover, .dot3:hover  {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
